canvas {
    border: 1px solid #000;
    background:rgb(243, 241, 241);
    margin-left:250px;
    margin-top: 0px;
    float: left;
}
* {
    box-sizing: border-box;
}

body {
    background-image:url( 'image/backgroundimage.jpeg');
}

#colorboard {
    margin:30px 200px;
}

#textboard{
    margin:10px 200px;
}

#colorblack {
    width: 30px;
    height: 30px;
    background-color:black;
}

#colorred {
    width: 30px;
    height: 30px;
    background-color:red
}

#coloryellow {
    width: 30px;
    height: 30px;
    background-color:yellow
}

#colorblue {
    width: 30px;
    height: 30px;
    background-color:blue
}

#colorgreen {
    width: 30px;
    height: 30px;
    background-color:green
}

#colororange {
    width: 30px;
    height: 30px;
    background-color:orange
}



#tools {
    float: right;
    margin-top:40px;
    margin-right:130px;


}

td,button{
    background-color: aliceblue;
    width: 100px;
    height: 70px;
}

label {
    color: #555;
    background-color: white;
	display: block;
	padding: 10px;
	margin: 3px;
}

.btn-primary {
    width: 40px;
    height: 40px;
    margin-left:-150px;
}

.btn-success {
    width: auto;
    height: 40px;
    margin-left:-170px;
}

#imageLoader{
    float: right;
    margin-top: 10px;
    margin-right:20px;
}

#fontsize{
    float: left;
    margin-top: 15px;
    margin-left:10px;
}

#fontstyle{
    float: left;
    margin-top: 15px;
    margin-left:150px;
}

#textb{
    float: left;
    margin-top: 10px;
    margin-left:120px;

}





